<!DOCTYPE html>
<html>
  <head>
    <title>AuthorizationRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%- unless flash.empty? %>
      <%- flash.each do |name, msg| %>
        <div class="alert", style: "text-align: center; color: orange;">
          <%= msg %>
        </div>
      <%- end %>
    <%- end %>
    <%= yield %>
  </body>
</html>
