<!DOCTYPE html>
<html>
  <head>
    <title>AuthorizationRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%- unless flash.empty? %>
      <%- flash.each do |name, msg| %>
        <div class="alert", style: "text-align: center; color: orange;">
          <%= msg %>
        </div>
      <%- end %>
    <%- end %>
    <div class="user">
      You are logged in as: <strong><%= current_user.name %></strong>
      <%= button_to "Switch", session_path, method: :put %>
    </div>
    <div>
      <ul class="inline">
        <li><%= link_to "No auth", posts_path, class: @selected_tab=="no_auth" ? "selected" : nil %></li>
        <li><%= link_to "CanCan", can_can_posts_path, class: @selected_tab=="can_can" ? "selected" : nil %></li>
        <li><%= link_to "Pundit", pundit_posts_path, class: @selected_tab=="pundit" ? "selected" : nil  %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
